#page-blocks-enrollment-enrollment #insc_users,
#page-blocks-enrollment-enrollment #roles,
#page-blocks-enrollment-enrollment #dates input.hasDatepicker {
    width : 70%;
}

#page-blocks-enrollment-enrollment #dates input.hasDatepicker {
    padding-left : 0;
    padding-right: 0;
}

#page-blocks-enrollment-enrollment #courses,
#page-blocks-enrollment-enrollment label[for="courses"]{
    width : 85%;
}

#page-blocks-enrollment-enrollment label {
    text-align : left;
    width : 100%;
    display : inline-block;
}
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#ui-datepicker-div {
    display: none !important;
}
#page-blocks-enrollment-enrollment #courses, #page-blocks-enrollment-enrollment label[for="courses"]{
	width: 70% !important;
}
/*.multiselect-container label.checkbox:hover{
    color: black !important;
}*/

#page-blocks-enrollment-enrollment .multiselect-container > li > a {
	color: black !important;
}
#page-blocks-enrollment-enrollment .dropdown-menu > li a:hover, .dropdown-menu > li.show{
    background:none !important;
}