
/*.navbar .usermenu,
#action-menu-2-menubar
{
	order:5;
	
}

#language-drop{
	order:4;
}
*/
@media screen and (min-width: 576px) {
}
 @media screen and (min-width: 992px) {
}
@media screen and (min-width: 768px) {
	 .format-singleactivity  #region-main .grade-contents .col-md-3{
	 padding:0;
 }
}
@media screen and (min-width: 1200px) {
}
.dir-rtl#page-local-student-user_index .card-body .col-md-2{
	max-width: 14.667%;
}
 @media screen and (max-width: 1450px) and (min-width: 1301px) {
.dir-rtl.path-local-student #region-main .grade-contents .col-md-6 {
	max-width: 40%;
}
}
 @media screen and (max-width: 1300px) and (min-width: 992px) {
#page-local-student-user_index .card-body .col-md-6,  #page-local-student-user_index .card-body .col-md-2 {
	max-width: 25%;
}
}
 @media screen and (max-width: 1200px) {
}
 @media screen and (max-width: 1199px) and (min-width: 992px) {
.card-body #english .col-md-3 {
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}
.card-body #arabic .col-md-3 {
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}
}
 @media screen and (max-width: 1199px) and (min-width: 768px) {
	 
	 .format-singleactivity  #region-main .grade-contents .col-md-3{
		flex: 0 0 50%;
		max-width: 50%;
		margin-bottom: 30px;
	 }
	 
}
 @media screen and (max-width: 991px) and (min-width: 768px) {
#page-my-index #page-wrapper #page #page-content .col-md-7 {
	max-width: 70%;
}
#page-my-index #page-wrapper #page #page-content .col-md-5 {
	max-width: 30%;
}
#page-site-index .featured-section .col-md-4 {
	flex: 0 0 50%;
	max-width: 50%;
}
.card-body #english .col-md-3 {
	flex: 0 0 50%;
	max-width: 50%;
}
.card-body #arabic .col-md-3 {
	flex: 0 0 50%;
	max-width: 50%;
}
}
 @media screen and (max-width: 991px) {
.navbar {
	background-color: #fff;
}
.navbar-dark .navbar-toggler {
	margin-top: 15px;
	position: absolute;
	top: 5px;
	left: 50%;
}
.dir-rtl .navbar-dark .navbar-toggler {
	right: 50%;
	left: auto;
}
#navbarSupportedContent ul {
	margin-left: 0 !important;
}
#navbarSupportedContent li {
	width: 100% !important;
	/*padding: 10px 0;*/
	margin-bottom: 20px;
}
#navbarSupportedContent li:last-child {
	margin-bottom: 0;
}
.nav-link:hover, .nav-link:focus {
	display: block;
	border-radius: 0;
}
/*	.dropdown-toggle::after{
	position: absolute;
	right: 5%;
	top: 40px;
	}*/
	
 
	
.navbar-dark .navbar-nav .nav-link {
	padding: 15px 10px;
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-ms-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
}
.navbar-nav .nav-link.active {
	padding: 15px 10px;
	display: block;
	border-radius: 0;
}
.navbar-nav > li {
	margin-left: 0;
}
#language-drop .dropdown-item {
	transition: 0;/*padding:15px;*/
}
.navbar-nav .dropdown-menu {
	padding: 0;
	position: absolute;
	width: 100%;
}
.navbar .usermenu,  #action-menu-2-menubar,  #language-drop {
/*	order:0;*/
 
}
.navbar .usermenu {
	position: absolute;
	top: 38px;
	z-index: 1;
	right: 20%;
	transform: translateY(-50%);
}
#language-drop {
	position: absolute;
	right: 0px;
	top: 38px;
	display: block !important;
	transform: translateY(-50%);
}
.dir-rtl #language-drop {
	left: 0;
	right: auto;
}
.dir-rtl .navbar .usermenu {
	left: 15%;
	right: auto;
}
.dir-rtl .navbar-nav > li {
	margin-right: 0;
}
.page-header .container-fluid {
	padding: 0;
}
#navbarSupportedContent {
	margin-top: 1rem;
	border: 1px solid #ccc;
}
.dropdown-menu-right {
	left: 0;
}
.hero-section {
	height: auto;
}
.hero-section .self-paced {
	padding: 0 30px 0 30px;
}
#page-local-student-user_index .card-body .col-md-6 {
	max-width: 0;
}
#page-local-student-user_index .card-body .col-md-2 {
	max-width: 100% !important;
}
#page-course-management .input-group.m-auto {
	max-width: none;
	padding: 0;
}
#page-course-management #coursesearch .card-body {
	padding: 0;
}
#coursesearch {
	text-align: left;
}
.page-local-pages-policies-9 #arabic .view.overlay,  .page-local-pages-procedures-14 .view.overlay {
	height: 512px !important;
}
}





@media screen and (max-width: 833px) and (min-width: 768px) {
#page-local-compliance_dashboard-index .grade-contents .btn-group {
	display: block;
}
#page-local-compliance_dashboard-index .button-groups.pull-right {
	float: none !important;
}
}



@media screen and (max-width: 805px) and (min-width: 768px) {
	 .path-local-student #region-main .grade-contents select{
		width:180px;
	}
}


 @media screen and (max-width: 767px) {
.navbar-toggler-icon {
	width: 1em;
}
.owl-theme .owl-dots .owl-dot span {
	margin: 5px;
}
.featured-section .section-inner {
	margin-left: 15px;
	margin-right: 15px;
}
#table12,  .firsttable,  #usertable_wrapper {
	overflow: auto;
}
#usertable_wrapper {
	padding: 0;
}
.course-image {
	background-size: cover !important;
}
select#sort,  input#myInput,  select#category {
	float: left !important;
	margin: 5px 0;
}
#region-main {
	padding: 0;
}
#region-main h3 {
	font-size: 16px;
	padding: 15px;
}

.path-local-course_report #region-main h3{
	padding:0;
}


.cenddate {
	min-width: 110px;
}
#usertable_length,  #usertable_filter {
	text-align: left;
}
.card-body.grade-contents {
	overflow: auto;
}

.path-local-gophish .card-body.grade-contents{
	overflow:inherit;
}


#page-admin-setting-authsettingsaml2 .card-body.grade-contents {
	overflow: hidden;
}
#page-footer .footer-block {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
#page-footer .footer-block .text_to_html div {
	text-align: center !important;
}
td.cell.c3,  th.header.ccompletiondate {
	min-width: 110px;
}
th.header.c6.sorting {
	min-width: 130px;
}
table tr td button {
	padding: 5px !important;
}
#inst406 .card-body {
	padding: 0 !important;
}
/*  #region-main .grade-contents {
    padding: 0 !important;
  }*/

.page-item.active .page-link {
	background-color: #b2dd4c !important;
	border-color: #b2dd4c !important;
	color: #000 !important;
}
td.cell.c7.lastcol a {
	margin: 5px !important;
}
#usertable_filter input.form-control.form-control-sm {
	width: calc(100% - 55px);
}
/*  #region-main-box #region-main .grade-contents {
    padding: 15px !important;
  }*/

/*  #page-content #region-main-box #region-main .grade-contents {
    padding: 0 !important;
  }*/

.region_main_settings_menu_proxy {
	display: none;
}
.mform>.form-group{
	margin-left: 0px;
	margin-right: 0px;
}
.fdescription.required {
	padding: 15px;
}
.userbutton {
	margin-left: 0;
}
#page-site-index .featured-section .col-md-4 {
	padding-right: 0;
	padding-left: 0;
}
#page-site-index .featured-section .view {
	height: auto;
}
#page-footer .page-footer-inner {
	padding: 0;
}
#page-footer .footer-block {
	padding: 0;
}
#region-main .my_cls2 {
	width: 48%;
}
.card-body .view.overlay {
/*height:414px;*/
}
.page-local-pages-news-and-anouncements-5 #arabic .view.overlay {
	height: 220px;
	background-size: 100% 100% !important;
}
.dir-rtl .navbar .usermenu {
	left: 20%;
}
.mform fieldset {
	margin-left: 0;
	margin-right: 0;
	clear: both;
}
#region-main .grade-contents h1{
	clear:both;
	margin-top: 30px;
}

#region-main .grade-contents h2 {
		margin-top: 30px;
	clear: both;
}
#region-main .grade-contents h3 {
	margin-top: 30px;
	clear: both;
}
#region-main .grade-contents h4 {
	margin-top: 30px;
	clear: both;
}
#page-course-management .card-body .ml-1.list-unstyled .list-group-item {
 padding: .75rem 0;
}




/*#page-admin-roles-assign #region-main .grade-contents h2 {
	margin-top:30px;
}*/


#page-local-compliance_dashboard-index .grade-contents .row {
	clear: both;
}
.row {
	clear: both;
}
.path-local-student #region-main .grade-contents .container {
	max-width: none;
	padding: 0;
}
}


#reportPage .col-md-12.text-center{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}


#reportPage .dropdown{
	flex: 0 0 50%;
	max-width: 50%;
}
.path-local-gophish-action .mform .form-inline .form-control,
.path-local-gophish-action .mform .form-inline .custom-select,
.path-local-pages .mform .form-inline .form-control,
.path-local-pages .mform .form-inline .custom-select{
	width:50% !important;
	border: 1px solid #bdc3c7;
color: #283f50;
font-size: 15px;
line-height: 1.467;
padding: 8px 12px;
height: 42px;
-webkit-appearance: none;
border-radius: 6px;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
transition: border .25s linear,color .25s linear,background-color .25s linear;
}


#page-local-gophish-action-gophis_campaign_create .mform .form-inline .custom-select{
	width: 230px !important;
}

#page-local-gophish-action-gophis_campaign_edit .mform .form-inline .custom-select{
	width: 230px !important;
}
.path-local-gophish-action .mform .form-inline .d-inline-block{
	width: 50%;
}


.path-local-gophish-action .mform .form-inline .d-inline-block .form-control{
	width: 100% !important;
}

 @media screen and (max-width: 575px) {
#region-main .my_cls2 {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
.navbar .usermenu {
	right: 25%;
}
#page-local-course_management-index #region-main .float-right {
	float: none !important;
}
.pagination {
	display: block;
	white-space: inherit !important;
}
.pagination li {
	display: inline-block;
}
#page-local-compliance_dashboard-index #exportSelected {
/* margin-left:15px;*/
}


.dir-rtl#page-local-compliance_dashboard-index #exportSelected{
	margin-right:0;
	
}



#page-local-compliance_dashboard-index .button-groups.pull-right {
	float: none !important;
	margin-top: 30px;
}
#page-local-cs_reminder-index .grade-contents .row {
	clear: both;
}
#region-main .grade-contents #scormviewform {
	padding: 0;/*text-align:left;*/
}
#region-main .grade-contents .btn-primary {
/*	display:block;
	width:100%;
	margin-left:0;*/
}
.path-local-student #region-main .grade-contents select,  .path-local-student #region-main .grade-contents input {
	width: 100%;
}


#reportPage .col-md-12.text-center{
	display:block;
	flex-wrap: wrap;
	margin-right:0;
	margin-left: 0;
}


#reportPage .dropdown{
	max-width:none;
}


#reportPage  .dropdown button{
	    display: block;
    width: 100%;
	
}


.path-local-gophish-action .mform .form-inline .form-control,
.path-local-gophish-action .mform .form-inline .custom-select,
.path-local-pages .mform .form-inline .form-control,
.path-local-pages .mform .form-inline .custom-select,

.path-local-gophish-action .mform .form-inline .d-inline-block
{
	width:100% !important;
 
}



 
 .filepicker-filelist .filepicker-container, .filemanager.fm-noitems .fm-empty-container{
 
	 padding-top: 70px;
 }
 
 
}
 @media screen and (max-width: 512px) {
#page-local-compliance_dashboard-index .grade-contents .btn-group {
	display: block;
}
#page-local-compliance_dashboard-index .grade-contents #cd_clear {
	margin-left: 0;
	margin-top: 15px;
}
#region-main .grade-contents .btn-primary,  #region-main .grade-contents .btn-secondary {
	display: block;
	width: 100%;
	margin-left: 0;
}

.path-local-gophish-action .mform .form-inline #id_url_insert{
	width:auto;
	margin:0 auto !important;
}

.dir-rtl#page-local-compliance_dashboard-index .grade-contents #cd_clear {
	/*margin-left:15px;*/
	margin-left: 0;
	margin-right: 0;
}
#page-local-compliance_dashboard-index #exportSelected {
	margin-top: -5px;
}
.dir-rtl #page-local-compliance_dashboard-index .grade-contents #cd_clear {
	margin-left: 15px;
}
#scormviewform button {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
}


 @media screen and (max-width: 480px) {
.navbar-dark .navbar-toggler {
	left: 25%;
}
.dir-rtl .navbar-dark .navbar-toggler {
	right: 25%;
}
.navbar .usermenu {
	right: 35%;
}
.dir-rtl .navbar .usermenu {
	left: 25%;
}
#page-blocks-enrollment-enrollment .btn-group {
	width: auto;
}
#page-course-management #coursesearchbox {
	width: 100px;
}
#course-category-listings .item-actions {
	margin-right: 0;
}
.path-local-cs_reminder .form-inline .btn-group{
	width:100%;
}

#page-course-management #course-category-listings #course-listing .listitem .coursename{
	display:block;
	float:none !important;
	text-align:left;
}

.path-local-compliance_dashboard .card-body,
.path-local-course_report .card-body
  {

    padding: 0rem;
}


.go-back-btn {
 
    margin-right: 50px;
    top: 8px;
}

.dir-rtl .go-back-btn{
	margin-right:0;
	margin-left:15px;
}


 
#region-main .grade-contents h1,
#region-main .grade-contents h2,
#region-main .grade-contents h3,
#region-main .grade-contents h4
{
	padding:15px;
}


#region-main .grade-contents .message{
	margin-top: 40px;
}

 

}
 @media screen and (max-width: 340px) {
.dir-rtl .navbar .usermenu {
	left: 35%;
}
.navbar .usermenu {
	right: 40%;
}
.col-form-label {
	display: block;
	padding: 0;
}
.form-inline {
	display: block;
}

button.multiselect.dropdown-toggle.btn.btn-default{
	width:100% !important;
}



}
select#sort, input#myInput, select#category {
	padding: 5px;
	border-radius: 5px;
}
#scormviewform {
	text-align: center;
}
.tile .t-icon i {
	font-size: 3rem;
}
.tile .t-icon.right i {
	right: auto;
	left: 50%;
	top: 25px;
	transform: translateX(-50%);
}
.tile .t-content.pt-4, .tile .t-content.pt-3 {
	padding-top: 3.5rem !important;
}
.card-body .view.overlay {
	background-size: cover !important;
	background-position: center;
}
.dir-rtl .custom-select {
	background-position: left;
}
.go-back-btn {
	/*border: 2px solid #b2dd4c;
color: #b2dd4c;*/
	color: #000;
	padding: 5px 0 5px 20px;
	font-weight: 400;
	position: relative;
	z-index: 1;
	font-size: 16px;
	border-radius: 10px;
	margin-bottom: 20px;
	/*display: block;*/
	transition: 0.3s ease-in-out;
}
.dir-rtl .go-back-btn {
	padding: 5px 20px 5px 0;
}
.go-back-btn:hover {
	transition: 0.3s ease-in-out;
}
/*.go-back-btn:after{
	position: absolute;
background: #b2dd4c;
width:100%;
content: '';
height: 0%;
left: 0px;
top: 0px;
 transition:0.3s ease-in-out;
 z-index:-1;
 
}

.go-back-btn:hover:after{
	height:100%;
	 transition:0.3s ease-in-out;
}
*/

.go-back-btn i {
	font-size: 14px;
	font-weight: 400;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	/* opacity:0;*/
	transition: 0.3s ease-in-out;
}
.go-back-btn:hover i {
	opacity: 1;
	transition: 0.3s ease-in-out;
	left: 5px;
}
.dir-rtl .go-back-btn i {
	right: 0;
	left: auto;
	transform: rotate(180deg) translateY(50%);
}
.dir-rtl .go-back-btn:hover i {
	right: 5px;
	left: auto;
}
.go-back-btn:hover {
	/*	color:#fff;*/
	text-decoration: none;
}
.btn.w-125 {
	width: auto;
	/*padding: 10px 25px !important;*/
	min-width: 145px;
}
#page-user-editadvanced .collapsible-actions .collapseexpand {
	display: none;
}
.dir-rtl .collapsible-actions .collapseexpand {
	padding-left: 20px;
}
.page-item.active .page-link{
    background-color: transparent !important;
    border-color: rgba(0,0,0,.125) !important;
}
#page-course-management .input-group {
	flex-wrap: nowrap;
}
th.header.ccname{
	width:300px;
}

th.header.cenddate {
	min-width: 110px;
}
th.header.ccertificates {
    width: 200px;
}

th.header.ccompletiondate {
    width: 150px;
 
}
.form-autocomplete-suggestions {
	position: static;
}
.page-local-pages-policies-9 #arabic .view.overlay, .page-local-pages-procedures-14 .view.overlay {
	height: 320px;
}
.page-local-pages-news-and-anouncements-5 #arabic .view.overlay {
	background-size: 100% 100% !important;
}
#page-local-course_management-autoenrollist .grade-contents .generaltable {
	margin-top: 40px;
}
.navbar-nav .dropdown-menu {
	animation: none;
}

#language-drop .dropdown-menu, .usermenu .dropdown-menu, .navbar-nav .dropdown-menu {
	padding: 0;
}


#language-drop .dropdown-item, .usermenu .dropdown-item, .navbar-nav .dropdown-item  {
	padding: 10px;
}
/*.navbar-nav .dropdown-menu {
	padding-bottom:0;
}*/

.usermenu .dropdown-divider {
	margin: 0;
}
#region-main .grade-contents .message {
	clear: both;
	margin-top:40px;
}


.path-admin-local-pages ul.custompages-list {
    margin-left: 0;
	margin-top:15px;
    padding-left: 0;
}

#page-course-management .card-body .ml.course-list .item-actions{
	margin-left:0;
	margin-right:0;
}


#page-course-management #course-category-listings #course-listing .listitem .coursename{
	margin-right:10px;
}


button.multiselect.dropdown-toggle.btn.btn-default {
    padding: .375rem 1.75rem .375rem .75rem;
	border-radius: .25rem;
	border:1px solid #ced4da;
	height: calc(1.5em + .75rem + 2px);
	line-height: 1.5;
	
}

 


.dir-rtl span.multiselect-selected-text{
	text-align:right;
}



.dir-rtl button.multiselect.dropdown-toggle.btn.btn-default{
	 padding: .375rem 2.4rem .375rem .75rem;
}

.alert-danger .close,
.alert .close 
{
	background-color: transparent !important;
 
}

.moodle-dialogue .closebutton{
	background-color:transparent !important;
	background:none;
}


.category-listing .ml-1.list-unstyled .icon{
	margin-left: 5px;
}

.path-local-course_report .mform>.form-group{
/*	margin-left: 0px;
	margin-right: 0px;*/
}


button.multiselect.dropdown-toggle.dropdown-toggle::after{
	position: absolute;
	right: 24px;
	top: 16px;
}



.path-local-course_report button.multiselect.dropdown-toggle.dropdown-toggle::after{
	right:20px;
}

.mform .form-inline .form-control, 
.mform .form-inline .custom-select{
	
	    width: 230px !important;
}



.mform .form-inline .btn-group{
	width:auto;
}

.path-local-compliance_dashboard #region-main .button-groups{
	margin-top:0;
}

.badge.text-wrap {
 
font-size: 13px;
margin-top: 19px;
padding: 5px 0;
 
}


.btn.btn-primary.btn-xs{
	 font-size: 14px;
}







.path-local-gophish-action .mform .form-inline #id_htmleditable,
.path-local-pages .mform  #id_pagecontenteditable
{
	margin-top:30px;
	width:100% !important;
}


.path-local-gophish-action .editor_atto_content_wrap,
.path-local-pages .editor_atto_content_wrap
{
	border:none;
}
.path-local-gophish-action .mform .form-inline #id_url_insert{
	font-size:13px;
	padding: 5px 10px;
}

.path-local-gophish-action .mform .form-inline #id_url_insert:before{
	content: "\f0e0";
font-family: 'FontAwesome';
font-size:14px;
font-weight:400;
margin-right:5px;
}

.path-local-gophish-action .mform #fitem_id_attachments .d-inline:before,
.path-local-gophish-action .mform #fitem_id_html .d-inline:before
{
	content: "\f067";
font-family: 'FontAwesome';
font-size:14px;
font-weight:400;
}




.path-local-gophish-action .mform .form-inline textarea.form-control{
	height: 230px;
}

.path-local-pages#page-local-pages-edit .mform {
	margin-top:30px;
}


.path-local-gophish .btn.btn-primary.btn-xs,
.path-local-gophish .btn.btn-danger.btn-xs,
.path-local-gophish .btn.btn-small.btn-primary,
.path-local-gophish .btn.btn-small.btn-primary


{
	position: relative;
	text-indent: -99999999999px;
	padding: 3px 15px;
	width: auto !important;
display: inline-block !important;
}

.btn.btn-primary.btn-xs:active:focus,
.btn.btn-danger.btn-xs:active:focus,
.btn.btn-small.btn-primary:active:focus{
	box-shadow:none;
}



.path-local-gophish .btn.btn-primary.btn-xs::before,
.path-local-gophish .btn.btn-danger.btn-xs:before,
.path-local-gophish .btn.btn-small.btn-primary:before

 {
   
    font-family: 'FontAwesome';
    font-size: 14px;
    margin-right: 5px;
    text-align: ;
    text-indent: 0;
position: absolute;
font-weight:400;
top: 50%;
left: 50%;
color: #fff;
transform: translate(-50% ,-50%);
}

.path-local-gophish .btn.btn-primary.btn-xs::before{
	 content: "\f080";
}

.path-local-gophish .btn.btn-danger.btn-xs:before{
	content: "\f1f8";
}

 


.path-local-gophish .cell .btn.btn-small.btn-primary:nth-child(1n):before{
	content: "\f040";
}
.path-local-gophish .cell .btn.btn-small.btn-primary:nth-child(2n):before {
	content: "\f1f8";
}


#page-site-index .featured-section .media-card{
	height:350px;
}

.path-local-gophish .grade-contents .btn-primary {
    font-size: 13px;
    padding: 5px 10px;
 
}
 
.path-local-gophish .grade-contents #id_cancel{
	font-size: 13px;
	padding: 5px 10px;
}
.path-local-gophish .grade-contents .btn-primary:before{
	content: "\f067";
font-family: 'FontAwesome';
font-size: 14px;
font-weight: 400;
margin-right:5px;
}



#admin-field_map_city {
    display: none;
}

#admin-field_updatelocal_city{
	display: none;
}

#admin-field_updateremote_city{
	display: none;
}

#admin-field_lock_city{
	display:none;
}

#admin-field_map_country {
    display: none;
}

#admin-field_updatelocal_country{
	display: none;
}

#admin-field_updateremote_country{
	display: none;
}

#admin-field_lock_country{
	display:none;
}

#admin-field_map_lang {
    display: none;
}

#admin-field_updatelocal_lang{
	display: none;
}

#admin-field_updateremote_lang{
	display: none;
}

#admin-field_lock_lang{
	display:none;
}

#admin-field_map_description {
    display: none;
}

#admin-field_updatelocal_description{
	display: none;
}

#admin-field_updateremote_description{
	display: none;
}

#admin-field_lock_description{
	display:none;
}

#admin-field_map_url {
    display: none;
}

#admin-field_updatelocal_url{
	display: none;
}

#admin-field_updateremote_url{
	display: none;
}

#admin-field_lock_url{
	display:none;
}

#admin-field_map_idnumber {
    display: none;
}

#admin-field_updatelocal_idnumber{
	display: none;
}

#admin-field_updateremote_idnumber{
	display: none;
}

#admin-field_lock_idnumber{
	display:none;
}

#admin-field_map_institution {
    display: none;
}

#admin-field_updatelocal_institution{
	display: none;
}

#admin-field_updateremote_institution{
	display: none;
}

#admin-field_lock_institution{
	display:none;
}

#admin-field_map_phone1 {
    display: none;
}

#admin-field_updatelocal_phone1{
	display: none;
}

#admin-field_updateremote_phone1{
	display: none;
}

#admin-field_lock_phone1{
	display:none;
}

#admin-field_map_phone2 {
    display: none;
}

#admin-field_updatelocal_phone2{
	display: none;
}

#admin-field_updateremote_phone2{
	display: none;
}

#admin-field_lock_phone2{
	display:none;
}

#admin-field_map_address {
    display: none;
}

#admin-field_updatelocal_address{
	display: none;
}

#admin-field_updateremote_address{
	display: none;
}

#admin-field_lock_address{
	display:none;
}

/*#admin-field_map_firstnamephonetic {
    display: none;
}

#admin-field_updatelocal_firstnamephonetic{
	display: none;
}

#admin-field_updateremote_firstnamephonetic{
	display: none;
}

#admin-field_lock_firstnamephonetic{
	display:none;
}*/

#admin-field_map_lastnamephonetic {
    display: none;
}

#admin-field_updatelocal_lastnamephonetic{
	display: none;
}

#admin-field_updateremote_lastnamephonetic{
	display: none;
}

#admin-field_lock_lastnamephonetic{
	display:none;
}

#admin-field_map_middlename {
    display: none;
}

#admin-field_updatelocal_middlename{
	display: none;
}

#admin-field_updateremote_middlename{
	display: none;
}

#admin-field_lock_middlename{
	display:none;
}

#admin-spmetadata .form-description {
	display: block !important;
}

.path-local-gophish #region-main-box .mform hr{
	margin-top: -1rem;
	margin-bottom: 2rem;

}

.path-local-gophish .confirmation-dialogue .confirmation-buttons .btn{
	font-size:13px;
}

.fp-upload-btn.btn-primary.btn {
    font-size: 13px;
}

.path-admin-user #region-main .form-group {
    clear: both;
}

.path-course #region-main .editor_atto_content{
	width: 100% !important;
}

 


.path-local-course_report .multiselect-container > li > a > label {
    padding: 3px 20px 3px 0 !important;
    display: inline-block;
}

.path-local-compliance_dashboard .multiselect-container > li > a > label{
	padding: 3px 20px 3px 10px !important;
}

.path-admin-user #region-main .form-group {
    clear: both;
}

.mform .form-inline .editor_atto_content.form-control {
    width: 100% !important;
}

#course-listing .course-listing{
 position: sticky!important;
}

.path-user .mform {
    clear: both;
}

.branding div#navbarSupportedContent li {
	width:auto !important}
	#qheader{
		margin-left: 40px;
	}