/* for manage coruse and category a link should be black always as per Amar on 26 June */
#page-course-management .listitem a {
  color:#000;
}
/* for ie home page */
.lm-course-grid-view-data {left:30% !important; right:30% !important;}
/* for flashy */
.flashy-prev {display:none !important;}
.flashy-next {display:none !important;}
.flashy-numeration {display:none !important;}

/*from additional HTML */
@media (max-width: 768px){
#navbarSupportedContent{
    background: #ffffff !important;
margin-bottom:1rem;
border:1px solid #ccc;
}

.navbar-dark .navbar-nav .nav-link{
color: #6d727c !important;
}
.userbutton{
    margin-left: 50px;
}
/*
.navbar-nav .nav-link{
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.dropdown-menu.show{
position: relative !important;
    float: none !important;
}
*/
#navbarDropdownlang {
background: #fff !important;
}
#navbarDropdownlang {
width: -webkit-fill-available !important;
text-align: center !important;
}
/*
#language-drop{
display: none;
} */
}


/* from advanced settings of theme */
.filemanager-toolbar {
display:none !important;
}
.filepicker .moodle-dialogue-bd {
min-height:200px !important;
}
.file-picker .fp-content {
height:auto !important;
}
.pagelayout-mydashboard .page-wrapper {
padding-top:50px !important;
}

page-site-index
#page-site-index .page-wrapper {
padding-top:50px !important;
}

/* common**/
.ebdaa-hidden {display:none;}
#theme_switch_link {display:none !important;}
.form-defaultinfo {display:none !important;}
.form-description {display:none !important;}
.btn { margin-top: 10px; }

#page-admin-user-editadvanced #fitem_id_email {display:none !important;}

#page-course-management #coursesearchbox { margin-top: 10px; }

/* for all page header **/
#page-admin-tool-uploaduser-index #page-header { display:none; }
#page-admin-setting-emailcontent #page-header { display:none; }
#page-admin-setting-authsettingldap #page-header { display:none; }
#page-admin-setting-outgoingmailconfig #page-header { display:none; }
#page-admin-testoutgoingmailconf #page-header { display:none; }
#page-admin-user-editadvanced #page-header { display:none; }
#page-site-index #page-header { display:none; }
#page-my-index #page-header { display:none; }
#page-admin-user #page-header { display:none; }
#page-admin-setting-themesettingmaker #page-header { display:none; }
#page-header { display:none; }
/* for course edit page ebdaa **/

#page-course-editcategory #fitem_id_idnumber { display:none; }

#menudescription_editorformat { display:none; }

/* for add admin page */
#page-admin-purgecaches .page-header-wrapper { display:none; }
#page-admin-roles-admins .page-header-wrapper { display:none; }
#page-admin-roles-admins #userselector_options_caption { display:none; }

#page-course-edit #id_rolerenaming { display:none; }
#page-course-edit #id_appearancehdr { display:none; }
#page-course-edit #id_filehdr { display:none; }
#page-course-edit #id_completionhdr { display:none; }
#page-course-edit #id_groups { display:none; }
#page-course-edit #id_tagshdr { display:none; }
#page-course-edit #id_courseformathdr { display:none; }
#page-course-edit #fitem_id_idnumber { display:none; }
#page-course-edit #fitem_id_shortname { display:none; }
#page-course-edit #page-header { display:none !important; }

#page-course-view-singleactivity #region-main-settings-menu { display:none; }
#page-course-view-singleactivity .userlist { display:none; }
#page-course-view-singleactivity .enrolusersbutton  { display:none; }
#page-course-view-singleactivity .mb-1  { display:none; }
#page-course-view-singleactivity .path-user #region-main h2  { display:none; } /* this is to hide the participant heading */

#page-course-edit .collapsible-actions { display:none; }
.collapsible-actions { display:none; }
#page-admin-user-editadvanced .collapsible-actions { display:none; }

/* for scorm edit page **/
#page-mod-scorm-mod #id_displaysettings { display:none; }
#page-mod-scorm-mod #id_availability { display:none; }
#page-mod-scorm-mod #id_gradesettings { display:none; }
#page-mod-scorm-mod #id_attemptsmanagementhdr { display:none; }
#page-mod-scorm-mod #id_compatibilitysettingshdr { display:none; }
#page-mod-scorm-mod #id_modstandardelshdr { display:none; }
#page-mod-scorm-mod #id_availabilityconditionsheader { display:none; }
#page-mod-scorm-mod #id_activitycompletionheader { display:none; }
#page-mod-scorm-mod #id_tagshdr { display:none; }
#page-mod-scorm-mod #id_competenciessection { display:none; }
#page-mod-scorm-mod #fitem_id_updatefreq { display:none; }
#page-mod-scorm-mod #fitem_id_name { display:none; } /* this is for scorm name hide */
#page-mod-scorm-mod .collapseexpand { display:none; }
#page-mod-scorm-mod [name="introeditor[format]"] { display:none !important; }


#page-mod-scorm-view #page-header { display:none !important; }
#page-mod-scorm-view .activity-navigation { display:none !important; }
#page-mod-scorm-view #region-main-settings-menu { display:none !important; }
#page-mod-scorm-view [title="Reports"] { display:none !important; }

/* for add user manual page **/
/*#page-admin-user-editadvanced #id_moodle_additional_names { display:none; }*/
#page-admin-user-editadvanced #id_moodle_additional_names { padding-left:15px; }

#page-admin-user-editadvanced #fitem_id_firstnamephonetic { display:none; }
#page-admin-user-editadvanced #fitem_id_lastnamephonetic { display:none; }
#page-admin-user-editadvanced #fitem_id_middlename { display:none; }
#page-admin-user-editadvanced .ftoggler { display:none; }







#page-admin-user-editadvanced #id_moodle_interests { display:none; }
#page-admin-user-editadvanced #id_moodle_optional{
padding-left:15px !important;
}

#page-admin-user-editadvanced #id_moodle_optional legend { display:none; }
#page-admin-user-editadvanced  #fitem_id_url { display:none; }
#page-admin-user-editadvanced  #fitem_id_skype { display:none; }
#page-admin-user-editadvanced  #fitem_id_aim { display:none; }
#page-admin-user-editadvanced  #fitem_id_yahoo { display:none; }
#page-admin-user-editadvanced  #fitem_id_msn { display:none; }
#page-admin-user-editadvanced  #fitem_id_idnumber { display:none; }
#page-admin-user-editadvanced  #fitem_id_institution { display:none; }
#page-admin-user-editadvanced  #fitem_id_phone1 { display:none; }
#page-admin-user-editadvanced  #fitem_id_phone2 { display:none; }
#page-admin-user-editadvanced  #fitem_id_address { display:none; }
#page-admin-user-editadvanced  #fitem_id_icq {display:none; }
#page-admin-user-editadvanced  #id_moodle_additional_names { border-bottom:none !important; }





#page-admin-user-editadvanced #fitem_id_maildisplay { display:none; }
#page-admin-user-editadvanced #fitem_id_city { display:none; }
#page-admin-user-editadvanced #fitem_id_country { display:none; }
#page-admin-user-editadvanced #fitem_id_timezone { display:none; }
#page-admin-user-editadvanced #fitem_id_lang { display:none; }




#page-admin-user-editadvanced #fitem_id_description_editor { display:none; }
#page-admin-user-editadvanced #fitem_id_imagealt { display:none; }
#page-admin-user-editadvanced #id_moodle_picture { display:none; }

#page-user-editadvanced #id_moodle_additional_names .ftoggler{ display:none; }
#page-user-editadvanced #id_moodle_additional_names #fitem_id_lastnamephonetic{ display:none; }
#page-user-editadvanced #id_moodle_additional_names #fitem_id_middlename{ display:none; }
#page-user-editadvanced #id_moodle_additional_names #fitem_id_firstnamephonetic{ display:none; }
#page-user-editadvanced #id_moodle_additional_names {
padding-left: 15px !important;
}








#page-user-editadvanced #id_moodle_interests { display:none; }

#page-user-editadvanced #fitem_id_maildisplay { display:none; }
#page-user-editadvanced #fitem_id_city { display:none; }
#page-user-editadvanced #fitem_id_country { display:none; }
#page-user-editadvanced #fitem_id_timezone { display:none; }
#page-user-editadvanced #fitem_id_description_editor { display:none; }
#page-user-editadvanced #fitem_id_imagealt { display:none; }
#page-user-editadvanced #id_moodle_picture { display:none; }


#page-user-editadvanced #id_moodle_optional{ padding-left:15px; }
#page-user-editadvanced #id_moodle_optional legend { display:none; }
#page-user-editadvanced  #fitem_id_url { display:none; }
#page-user-editadvanced  #fitem_id_skype { display:none; }
#page-user-editadvanced  #fitem_id_aim { display:none; }
#page-user-editadvanced  #fitem_id_yahoo { display:none; }
#page-user-editadvanced  #fitem_id_msn { display:none; }
#page-user-editadvanced  #fitem_id_idnumber { display:none; }
#page-user-editadvanced  #fitem_id_institution { display:none; }
#page-user-editadvanced  #fitem_id_phone1 { display:none; }
#page-user-editadvanced  #fitem_id_phone2 { display:none; }
#page-user-editadvanced  #fitem_id_address { display:none; }
#page-user-editadvanced  #fitem_id_icq { display:none;}
#page-user-editadvanced  #id_moodle_additional_names { border-bottom:none !important; }












/** upload user page */
#page-admin-tool-uploaduser-index #id_defaultheader { display:none; }
#page-admin-tool-uploaduser-index #fitem_id_uuforcepasswordchange { display:none; }
#page-admin-tool-uploaduser-index #fitem_id_uustandardusernames { display:none; }
#page-admin-tool-uploaduser-index #fitem_id_uubulk { display:none; }

.fa-question-circle { display:none; }
.fa-eye { display:none; }
.fa-sign-in { display:none; }

/* for page creation */
#page-local-pages-edit #fitem_id_onmenu { display:none !important; }
#page-local-pages-edit #fitem_id_menuname { display:none !important; }
#page-local-pages-edit #fitem_id_accesslevel { display:none !important; }
#page-local-pages-edit #fitem_id_pagetype { display:none !important; }
#page-local-pages-edit #fitem_id_pagelayout { display:none !important; }

/*... */


/* admin user page browse list of user */
#page-admin-user .moreless-actions { display:none !important; }

/** page course management - manage category page **/

#page-course-management .category-bulk-actions  { display:none !important; }
#page-course-management .listing-pagination-totals  { display:none !important; }
#page-course-management .course-bulk-actions  { display:none !important; }
#page-course-management .view-mode-selector  { display:none !important; }
#page-course-management [aria-label="Sort courses"] { display:none !important; }
#page-course-management [aria-label="Per page: 20"] { display:none !important; }
#page-course-management .ba-checkbox { display:none !important; }
#page-course-management .drag-handle { display:none !important; }
#page-course-management .course-detail { display:none !important; }
#page-course-management .action-createnewsubcategory { display:none !important; }

#page-course-management .action-assignroles { display:none !important; }
#page-course-management .action-permissions { display:none !important; }
#page-course-management .action-checkroles { display:none !important; }
#page-course-management .action-cohorts { display:none !important; }
#page-course-management .action-filters { display:none !important; }
#page-course-management .action-restore { display:none !important; }


/* add a course page **/
#page-course-edit #fitem_id_summary_editor { display:none !important; }
#page-course-edit [name="introeditor[format]"] { display:none !important; }
#page-course-edit #fitem_id_visible { display:none !important; }


/* for admin theme settings page hiding staff */
#page-admin-setting-themesettingmaker #admin-herocta { display:none !important; }
#page-admin-setting-themesettingmaker #admin-herourl { display:none !important; }
#page-admin-setting-themesettingmaker #admin-herourlopennew { display:none !important; }
#page-admin-setting-themesettingmaker #admin-useherovideo { display:none !important; }
#page-admin-setting-themesettingmaker #admin-herovideo { display:none !important; }
#page-admin-setting-themesettingmaker #admin-herovideoswitcher { display:none !important; }
#page-admin-setting-themesettingmaker #admin-herovideoid { display:none !important; }
#page-admin-setting-themesettingmaker #admin-usesearch { display:none !important; }
#page-admin-setting-themesettingmaker #admin-pagefont { display:none !important; }
#page-admin-setting-themesettingmaker #admin-headingfont { display:none !important; }

/*
#page-admin-setting-themesettingmaker #admin-footerblock3 { display:none !important; }
#page-admin-setting-themesettingmaker #admin-footerblock4 { display:none !important; }
*/
#page-footer .footer-bottom-bar { display:none !important; }
#page-admin-setting-themesettingmaker #admin-footerwidgettitle { display:none !important; }
#page-admin-setting-themesettingmaker #admin-footerwidget { display:none !important; }
#page-admin-setting-themesettingmaker #admin-usertl { display:none !important; }
#page-admin-setting-themesettingmaker #admin-usecourseheaderimage { display:none !important; }
#page-admin-setting-themesettingmaker #admin-courseheaderimageheight { display:none !important; }
#page-admin-setting-themesettingmaker #admin-preset { display:none !important; }
#page-admin-setting-themesettingmaker #admin-useheroslideshow { display:none !important; }
#page-admin-setting-themesettingmaker #admin-slideshowheight { display:none !important; }
#page-admin-setting-themesettingmaker #admin-usefooterblocks { display:none !important; }
#page-admin-setting-themesettingmaker #admin-usefooterwidget { display:none !important; }
#page-admin-setting-themesettingmaker #admin-useloginbgmask { display:none !important; }

/** manual enrol manage **/
#page-enrol-manual-manage .enroloptions { display:none !important; }
#page-enrol-manual-manage #userselector_options { display:none !important; }

/* forgot pass page */
#page-login-forgot_password #id_searchbyusername { display:none !important; }

#page-enrol-index #id_selfheader { display:none !important; }


/* local page */
#page-admin-local-pages-pages #page-header { display:none}
/* LDAP settings **/
.form-shortname { display:none !important;}
#page-admin-setting-outgoingmailconfig .form-description { display:none}
#page-admin-setting-themesettingmaker .form-description { display:block !important}



#page-admin-setting-authsettingldap .form-description { display:none}


#page-admin-setting-authsettingldap #admin-field_map_city { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_city { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_city { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_city { display:none}

#page-admin-setting-authsettingldap #admin-field_map_country { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_country { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_country { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_country { display:none}

#page-admin-setting-authsettingldap #admin-field_map_lang { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_lang { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_lang { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_lang { display:none}

#page-admin-setting-authsettingldap #admin-field_map_description { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_description { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_description { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_description { display:none}

#page-admin-setting-authsettingldap #admin-field_map_url { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_url { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_url { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_url { display:none}

#page-admin-setting-authsettingldap #admin-field_map_idnumber { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_idnumber { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_idnumber { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_idnumber { display:none}

#page-admin-setting-authsettingldap #admin-field_map_institution { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_institution { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_institution { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_institution { display:none}

/*
#page-admin-setting-authsettingldap #admin-field_map_department { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_department { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_department { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_department{ display:none}
*/

#page-admin-setting-authsettingldap #admin-field_map_phone1 { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_phone1 { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_phone1 { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_phone1{ display:none}

#page-admin-setting-authsettingldap #admin-field_map_phone2 { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_phone2 { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_phone2 { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_phone2 { display:none}

#page-admin-setting-authsettingldap #admin-field_map_address { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_address { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_address { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_address { display:none}


#page-admin-setting-authsettingldap #admin-field_map_firstnamephonetic {display:none }
#page-admin-setting-authsettingldap #admin-field_updatelocal_firstnamephonetic {display:none }
#page-admin-setting-authsettingldap #admin-field_updateremote_firstnamephonetic { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_firstnamephonetic {display:none }

#page-admin-setting-authsettingldap #admin-field_map_lastnamephonetic { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_lastnamephonetic { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_lastnamephonetic { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_lastnamephonetic { display:none}

#page-admin-setting-authsettingldap #admin-field_map_middlename { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_middlename { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_middlename { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_middlename { display:none}

/*#page-admin-setting-authsettingldap #admin-field_map_alternatename { display:none}
#page-admin-setting-authsettingldap #admin-field_updatelocal_alternatename { display:none}
#page-admin-setting-authsettingldap #admin-field_updateremote_alternatename { display:none}
#page-admin-setting-authsettingldap #admin-field_lock_alternatename { display:none}
*/

/** smtp setting hiding display area */

#page-admin-setting-outgoingmailconfig #admin-sitemailcharset { display:none}
#page-admin-setting-outgoingmailconfig #admin-allowusermailcharset { display:none}
#page-admin-setting-outgoingmailconfig #admin-allowattachments { display:none}
#page-admin-setting-outgoingmailconfig #admin-mailnewline { display:none}
#page-admin-setting-outgoingmailconfig #admin-emailfromvia { display:none}
#page-admin-setting-outgoingmailconfig #admin-emailsubjectprefix { display:none}
