/*
#cheader{
background-color: none !important;
border-bottom: none !important;
}
.button-container{
    background-color: #cccccc !important;  
}
.formcontainer{
	background-color: #d8d8d8 !important;
}
*/

#arpdftable {
    display: none !important;
}
#chart-head-arabic {
    display: none !important;
}
#archarttable {
    display: none !important;
}


/* styles added for pdf report on 16-10-19*/
#pdftable{
display: none !important;
}
#charttable{
/*display: none !important;*/
}
#charttable table {
    border-collapse: collapse;
    width: 100%;
}

#charttable th, td {
    text-align: left;
    padding: 8px;
}

#charttable tr:nth-child(even){background-color: #f2f2f2}

#charttable th {
    background-color: #4CAF50;
    color: white;
}
#chart-head th{
width: 33% !important;
padding-left: : 200px !important;
text-align: center !important;
background: none !important;
}
#chart-head{
	display: none !important;
}

div.dataTables_wrapper div.dataTables_length select {
	height:38px;
}
/*---------------------*/
#charttablearabic th, td {
    text-align: left;
    padding: 8px;
}
#charttablearabic th {
    background-color: #4CAF50;
    color: white;
}
.stats-card{
    max-height: 350px !important;
    padding: 14.6% !important;

}
/* basic positioning */
#legend { list-style: none; }
#legend li { float: left; margin-right: 10px; }
#legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
#legend .notstarted { background-color: #e84b3c; }
#legend .completed { background-color: #34712f; }
#legend .inprogess { background-color: #f69e3e; }
#legend .inprogess { background-color: #f69e3e; }



@media screen 
and (min-device-width: 1920px) { 
    .stats-card{
        padding: 10.6% !important;
    }

}
/*@media screen 
and (min-device-width: 1440px)
and (max-device-width: 1920px) { 
    .stats-card{
        padding: 11.5% !important;
    }

}
@media screen 
and (max-device-width: 1024px) { 
    .stats-card{
        padding: 5% !important;
    }
}
@media screen 
and (min-device-width: 1380px)
and (max-device-width: 1400px) { 
    .stats-card{
        padding: 11.1% !important;
    }

}
*/
/*Manju: 11/12/2020. To hide self enrolment option and submit button*/
#page-local-course_report-index #fitem_id_userid{
display: none !important;
}

#page-local-course_report-user_report #encharttable {
    display: none !important;
}