button.multiselect.dropdown-toggle.btn.btn-default {
    margin-left: 10px;
}
.dropdown-menu.show {
right: auto !important;
}


@media only screen and (max-width: 500px) {

.dropdown-menu.dropdown-menu-right.dropdown-menu-md-left.show {
   left: auto !important;
}
}