.chartjs-render-monitor{
    padding: 10px 10px 0px 10px;
}
.button-groups{
    margin-top: -20px;
}
button.multiselect.dropdown-toggle.btn.btn-default{
display: flex;
font-size: 16px;
}

input.form-control.multiselect-search{
    margin-right: 10px;
}


button.multiselect.dropdown-toggle.btn.btn-default .span{
margin: auto;
}

button.multiselect.dropdown-toggle.btn.btn-default .caret:after{
margin: auto;
}

.dropdown-toggle::after {
    margin: auto;
}

span.multiselect-selected-text {
    width: 150px !important;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.my_cls2 {
    background: rgb(250 251 248 / 15%);
}
#department{
	margin-top: 7%;
    width: 170px;
}

.row2 span {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ece9e9;
    padding: 10px 0 10px 0;
}

.scnd2{
	margin-top:6%;
}
.dropdown-menu>li a:hover, .dropdown-menu>li.show {
    background: #fff;
    color: black !important;
}
button.multiselect.dropdown-toggle.btn.btn-default {
    width: 200px !important;
}
button.multiselect.dropdown-toggle.btn.btn-default {
    color: #4f5256;
    background-color: #fff;
    border-color: #4f5256;
}
ul.multiselect-container.dropdown-menu.show{
	z-index:1;
}
.multiselect-container>li>a>label {
    padding: 3px 20px 3px 20px !important;
}
.my_cls2 {
    margin-bottom: 3%;
	width:31.33%;
	margin-left:1%;
	margin-right:1%;
}

input.form-control.multiselect-search {
    height: 30px;
}
li.multiselect-item.filter.active {
padding: 3px 14px;
}	
#chart_export{
	margin-top: 30px;margin-left: 15px;
}

#cd_clear{
	margin-left: 15px;margin-top: 30px;
}
#exportSelected{
	margin-left: 15px;
}
/*  this is media css start*/

@media only screen and (max-width: 500px) {

.my_cls2 {
	width:100%;
}

#region-main {
   padding: 0px;
}
#exportSelected {
    margin-left: 0px;
}
#chart_export{
	margin-top: 0px;margin-left: 0px;
}

.dropdown-menu.dropdown-menu-right.dropdown-menu-md-left.show {
   left: -44px;
}



}
/*  this is media css end*/