{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/maintenance

    Boost maintenance layout template.

    Context variables required for this template:
    * output - The core renderer for the page

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    
    {{#output.hasinternet}}
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	
	    {{#output.headingfont}}
	    <link href="https://fonts.googleapis.com/css?family={{ output.headingfont }}:300,400,500,700" rel="stylesheet" />
	    {{/output.headingfont}}
	    
	    {{#output.pagefont}}
	    <link href="https://fonts.googleapis.com/css?family={{ output.pagefont }}:300,400,500,700" rel="stylesheet" />
	    {{/output.pagefont}}
    {{/output.hasinternet}}    
    
    {{!--//ios_homescreen_icons (theme class function)--}}
	{{{ output.ios_homescreen_icons}}}
    
    {{{ output.standard_head_html }}}
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{#output.google_analyticsid}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{{output.google_analyticsid}}}"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', '{{{output.google_analyticsid}}}');
	</script>
    {{/output.google_analyticsid}}
    
</head>

<body {{{ output.body_attributes }}}>
	
{{> core/local/toast/wrapper}}

{{{ output.standard_top_of_body_html }}}
<div id="page">
    <div id="page-content">
        {{{ output.main_content }}}
    </div>
</div>
{{{ output.standard_end_of_body_html }}}
</body>
</html>
{{#js}}
require(['theme_boost/loader']);
{{/js}}
