{{# usefooterblocks }}

<div class="footer-blocks">
	<div class="row">
		
		{{# footerblocks }}
		{{# hasblock }}
		<div class="footer-block footer-block-links col-12 col-md-6 col-lg-6">
            {{{ blockcontent }}}
		</div><!--//footer-block-->
		{{/ hasblock }}
		{{/ footerblocks }}
		
	</div><!--//row-->
</div><!--//footer-blocks-->

<!-- <div class="footer-divider"></div>-->

{{/ usefooterblocks }}