{{#useallenrollcourses}}
<!-- <a class="item-link" href="{{{itemlink}}}">{{{itemname}}}</a>
style="background-image:url({{{itemimage}}});width:100%;background-position: center;background-size: cover;" -->
<div class="featured-section">

    <h2 class="section-title text-center animated fadeInUp">{{#str}} mycourses, theme_maker {{/str}}</h2>

    <div class="container-fluid">

	    <div class="section-inner">
		    <div class="allenrollcourses-carousel owl-carousel owl-theme">
		    {{#popularblocks}}
		    	{{#itemcount}}
		    		 <div class="item item-{{{itemcount}}}">
		    		  <div class="item-inner">
		    		  	<div class="course-image" style="background-image:url('{{{ itemimage }}}');background-position: center;background-position-y:  center;width:100%;background-size: contain;background-repeat: no-repeat;">
                  <!-- <img src="{{{itemimage}}}" alt={{{itemname}}}> -->
						    </div>
		    		  {{#itemname}}
						<div class="item-content">
					  <h3 class="item-title text-center">{{{itemname}}}</h3>
		    		  {{/itemname}}
					  </div>
					  {{{itemlink}}}
			    	</div><!-- item inner -->

			    	</div><!-- item-->


			    {{/itemcount}}
			{{/popularblocks}}
			</div><!--//course-carousel-->
		</div><!--//section-inner-->
    </div><!--//container-fluid-->
</div><!--//featured-section-->


{{/useallenrollcourses}}
