{{#useallcourses}}
<!-- <a class="item-link" href="{{{itemlink}}}">{{{itemname}}}</a> -->
<div class="featured-section">

    <h2 class="section-title animated fadeInUp">{{{featuredsectiontitle}}}</h2>

    <div class="container-fluid">

	    <div class="section-inner">
		    <div class="allcourses-carousel owl-carousel owl-theme" id="enablertl">
		    {{#popularblocks}}
		    	{{#itemcount}}
		    		 <div class="item item-{{{itemcount}}}">
		    		  <div class="item-inner">
		    		  	<div class="course-image">
		    		  		{{#itemimage}}
						    <img src="{{{itemimage}}}" alt={{{itemname}}}>
						    {{/itemimage}}
						    </div>
		    		  {{#itemname}}
						<div class="item-content">
					  <h3 class="item-title text-center">{{{itemname}}}</h3>
		    		  {{/itemname}}
					  </div>

					  <a class="button btn theme-btn-primary lm-course-readmore-button lm-course-grid-view-data" href="{{{itemlink}}}" rel="bookmark">
						{{#str}} gotocourse, theme_maker {{/str}} </a>
					  
			    	</div><!-- item inner --> 

			    	</div><!-- item-->
					
					
			    {{/itemcount}}	 
			{{/popularblocks}}    		        
			</div><!--//course-carousel-->
		</div><!--//section-inner-->
    </div><!--//container-fluid-->
</div><!--//featured-section-->


{{/useallcourses}}