{{#usemediablocks}}

<div class="featured-section">
	
	{{#mediasectiontitle}}
    <h2 class="section-title media-section animated fadeInUp">{{{mediasectiontitle}}}</h2>
    {{/mediasectiontitle}}
    
    <div class="container-fluid">
	    <div class="section-inner">
		    <div class="media-carousel owl-carousel owl-theme">
			    
			    {{#mediablocks}}
				    {{#hasblock}}
				    <div class="item item-{{{blockcount}}}">
					    <div class="item-inner">
						    {{#blockimage}}
						    <div class="thumb-holder">
							    <div class="thumb-holder-inner">
							    </div><!--//thumb-holder-inner-->
						    </div><!--//thumb-holder-->
						    {{/blockimage}}
						    <div class="item-content">
							    {{#blocktitle}}
							    <h3 class="item-title text-center">{{{blocktitle}}}</h3>
							    {{/blocktitle}}
							    {{#blockcontent}}
							    <div class="item-desc">{{{blockcontent}}}</div>
							    {{/blockcontent}}
						    </div><!--//item-content-->
						    {{#blockurl}}
						    <a class="item-link" href="{{{blockurl}}}"></a>
						    {{/blockurl}}
					    </div><!--//item-inner-->
					    {{#blocklabel}}
					    <span class="item-label">{{{blocklabel}}}</span>
					    {{/blocklabel}}
				    </div><!--//item-->	
				    {{/hasblock}}	    
			    {{/mediablocks}}
			    		        
			</div><!--//course-carousel-->
		</div><!--//section-inner-->
    </div><!--//container-fluid-->
</div><!--//featured-section-->


{{/usemediablocks}}