{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    
    {{#output.hasinternet}}
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	
	    {{#output.headingfont}}
	    <link href="https://fonts.googleapis.com/css?family={{ output.headingfont }}:300,400,500,700" rel="stylesheet" />
	    {{/output.headingfont}}
	    
	    {{#output.pagefont}}
	    <link href="https://fonts.googleapis.com/css?family={{ output.pagefont }}:300,400,500,700" rel="stylesheet" />
	    {{/output.pagefont}}
    {{/output.hasinternet}} 
    
    {{!--//ios_homescreen_icons (theme class function)--}}
	{{{ output.ios_homescreen_icons}}}
    
    <link rel="stylesheet" href="{{{ config.wwwroot }}}/theme/maker/plugins/flexslider/flexslider.css">    
    <link rel="stylesheet" href="{{{ config.wwwroot }}}/theme/maker/plugins/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="{{{ config.wwwroot }}}/theme/maker/plugins/owlcarousel/assets/owl.theme.default.min.css">
    
    
    {{{ output.standard_head_html }}}
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{#output.google_analyticsid}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{{output.google_analyticsid}}}"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', '{{{output.google_analyticsid}}}');
	</script>
    {{/output.google_analyticsid}}
    
</head>

<body {{{ bodyattributes }}}>

{{> core/local/toast/wrapper}}

<div id="page-wrapper" class="page-wrapper {{#output.hideheaderbranding}}branding-section-hidden{{/output.hideheaderbranding}}">
	

    {{{ output.standard_top_of_body_html }}}

    {{>theme_maker/header}}
    
    {{!--//header_alert (theme class function)--}}
    {{{ output.header_alert}}}
    
    {{!-- fp_slideshow (theme class function) -- }}
    {{{ output.fp_slideshow }}}
    
    {{!-- fp_searchcourses (theme class function) -- }}
    {{{ output.fp_searchcourses }}}

    {{!-- fp_benefits (theme class function) --}}
    {{{ output.fp_benefits }}} 
    
    {{!-- fp_featuredblocks (theme class function) --}}
    {{{ output.fp_features }}}
    
    {{!-- fp_promo (theme class function) -->}}
    {{{ output.fp_promo }}}
    
    {{!-- fp_logos (theme class function) --}}
    {{{ output.fp_logos }}}
    
    {{!-- fp_categories (theme class function) --}}
    {{{ output.fp_categories }}}
    
    {{!-- fp_teachers (theme class function) --}}
    {{{ output.fp_teachers }}}
    
    {{!-- fp_testimonials (theme class function) --}}
    {{{ output.fp_testimonials }}}
    
    
      

    <div id="page" class="container-fluid">
	    
	    
	    
	    
	    <div id="page-content" class="row">

		    <div id="region-main-box" class="col-12">
			    
			    {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                
				<section id="region-main" class="{{#hasblocks}}has-blocks{{/hasblocks}}">
					
					<div class="card card-block">
						
						{{#hasblockscenterpre}}
					    <div class="blocks-center-wrapper blocks-center-pre-wrapper">
					        {{{centerpreblocks}}}
					    </div><!--//blocks-cecnter-pre-wrapper-->
					    {{/hasblockscenterpre}} 
							
						{{{ output.main_content }}}
						
						{{#hasblockscenterpost}}
		                <div class="blocks-center-wrapper blocks-center-post-wrapper">
			                {{{centerpostblocks}}}
			            </div><!--//blocks-cecnter-post-wrapper-->
			            {{/hasblockscenterpost}} 
	            
					</div><!--//card-->
				
				</section><!--//#region-main-->
				
				{{#hasblocks}}
			    <section data-region="blocks-column" class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
			        {{{ sidepreblocks }}}
			    </section>
			    {{/hasblocks}}
			    
		    </div><!--//#region-main-box-->
		</div>
    </div>
    
    {{{ output.standard_after_main_region_html }}}
    
    {{!-- fp_faq (theme class function) --}}
    {{{ output.fp_faq }}}
    
    {{!-- fp_ctasection (theme class function) --}}
    {{{ output.fp_ctasection }}}
    
    
    {{> theme_boost/nav-drawer }}
    
</div>


{{>theme_maker/footer}}



{{!-- fp_javascript (theme class function) --}}
{{{ output.fp_javascript }}}

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}

