{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}


<header id="header" class="page-header page-header-secure" role="banner">
	
<div class="branding">
	<div class="container-fluid">
		<div class="branding-inner">

	        
	        <a href="{{{ config.wwwroot }}}" class="site-name {{# output.site_logo }}has-logo{{/ output.site_logo }}">
		        {{^ output.site_logo }}
		           {{{ sitename }}}
		        {{/ output.site_logo }}
		        
	            {{# output.site_logo }}

	                <img class="site-logo" src="{{{ output.site_logo }}}" alt="{{sitename}}">

	            {{/ output.site_logo }}
	        </a>
	        
	        <div class="secure-login-info">
	        {{{ output.secure_login_info }}}
	        </div>

			</div><!--//branding-inner-->
			
		</div><!--//container-fluid-->
	</div><!--//branding-->
	
</header><!--//header-->
