{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<header id="header" class="page-header" role="banner">
	<div class="top-bar hidden">
		<div class="container-fluid">
			<div class="top-bar-inner">
				 <div class="special-wrapper navbar">
					{{!--//header_socialmedia (theme class function)--}}
					{{{ output.header_socialmedia}}}
				            <div class="utilities">
					            <!-- user_menu -->
						        {{{ output.user_menu }}}
				        
				
						        <!-- navbar_plugin_output -->
						        {{{ output.navbar_plugin_output }}}
				
						        <!-- search_box -->
						        <span class="d-none d-md-inline-block">
						        {{{ output.search_box }}}
						        </span>
				            </div><!--//utilities-->
					</div>
				</div><!--//top-bar-inner-->
			</div>
		</div><!--//top-bar-->
	<div class="branding">
		<div class="container-fluid">
			<div class="branding-inner">
					<div class="drawer-toggle" data-region="drawer-toggle">
			            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="drawer-toggle-btn" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">
				            <span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
				            <span class="icon-bar-wrapper">
	                            <span class="icon-bar"></span>
	                            <span class="icon-bar"></span>
	                            <span class="icon-bar"></span>
	                        </span><!--//icon-bar-wrapper-->
				        </button><!--//toggle-drawer-btn-->
						
			        </div>
			        
			        
				
		        <nav class="navbar navbar-expand-lg navbar-dark " id="main_navbar">
	        
	        <a href="{{{ config.wwwroot }}}" class="site-name {{# output.site_logo }}has-logo{{/ output.site_logo }}">
		        {{^ output.site_logo }}
		           {{{ sitename }}}
		        {{/ output.site_logo }}
		        
	            {{# output.site_logo }}

	                <img class="site-logo" src="{{{ output.site_logo }}}" alt="{{sitename}}">

	            {{/ output.site_logo }}
	        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" id="btn-toggle" onClick="showHideDiv('language-drop')"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		        {{{ output.custom_menu_ebdaa }}}

				{{{ output.user_menu }}} 
				<div id="language-drop">{{{ output.render_ebdaa_lang }}}</div>

				
			       </nav>
		   
		</div><!--//branding-inner-->
		
	</div><!--//container-fluid-->
</div><!--//branding-->
</header><!--//header-->
