{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}

<header id="header" class="page-header" role="banner">
	<div class="top-bar">
		<div class="container-fluid">
			<div class="top-bar-inner">
				 <div class="special-wrapper navbar">
					{{!--//header_socialmedia (theme class function)--}}
					{{{ output.header_socialmedia}}}
		            
		            <div class="utilities">
			            <!-- user_menu -->
				        {{{ output.user_menu }}}
				
				        <!-- navbar_plugin_output -->
				        {{{ output.navbar_plugin_output }}}
				
				        <!-- search_box -->
				        <span class="d-none d-md-inline-block">
				        {{{ output.search_box }}}
				        </span>
		            </div><!--//utilities-->
				</div>
			</div><!--//top-bar-inner-->
		</div>
	</div><!--//top-bar-->
	
	<header id="masthead" class="site-header" role="banner">
								<div class="reign-fallback-header version-two">
	<div class="container">
		<div class="wb-grid">
			<div class="header-left no-gutter wb-grid-flex wb-grid-center wb-grid-space-between">
				<div class="site-branding">
					<div class="logo">
						<a href="http://165.22.24.226/" class="custom-logo-link" rel="home"><img width="186" height="252" src="http://165.22.24.226/wp-content/uploads/2019/07/ebdaa-logo-dark.png" class="custom-logo" alt="EBDAA LMS"></a>					</div>
				</div>

				<nav id="site-navigation" class="main-navigation" role="navigation">
					<span class="menu-toggle wbcom-nav-menu-toggle" aria-controls="primary-menu" aria-expanded="false">
						<span></span>
						<span></span>
						<span></span>
					</span>
					<ul id="primary-menu" class="primary-menu"><li id="menu-item-770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-770"><a href="http://165.22.24.226/">Home</a></li>
<li id="menu-item-313" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-307 current_page_item menu-item-313"><a href="http://165.22.24.226/our-courses/" aria-current="page">Online Courses</a></li>
<li id="menu-item-771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-771"><a href="http://165.22.24.226/digital-media/">Digital Media</a>
<ul class="sub-menu">
	<li id="menu-item-774" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-774"><a href="http://165.22.24.226/digital-media/posters/">Posters</a></li>
	<li id="menu-item-773" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-773"><a href="http://165.22.24.226/digital-media/newsletters/">Newsletters</a></li>
	<li id="menu-item-772" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-772"><a href="http://165.22.24.226/digital-media/infographics/">Infographics</a></li>
	<li id="menu-item-776" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-776"><a href="http://165.22.24.226/digital-media/videos/">Videos</a></li>
	<li id="menu-item-775" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-775"><a href="http://165.22.24.226/digital-media/presentations/">Presentations</a></li>
</ul>
</li>
<li id="menu-item-785" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-785"><a href="http://165.22.24.226/policies/">Policies</a></li>
<li id="menu-item-819" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-819"><a href="http://165.22.24.226/procedures/">Procedures</a></li>
<li id="menu-item-1204" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1204"><a href="http://165.22.24.226/news-and-announcements/">News and Announcements</a></li>
</ul>				</nav>
			</div>

			<div class="header-right no-gutter wb-grid-flex wb-grid-center">
				  	<div class="rg-icon-wrap">
 		<a href="http://165.22.24.226/login/" class="btn-login" title="Login">	<span class="fa fa-sign-in"></span>
 		</a>
 	</div>
 	  		<span class="sep">|</span>
 		<div class="rg-icon-wrap">
 			<a href="http://165.22.24.226/register/" class="btn-register" title="Register">
 				<span class="fa fa-address-book-o"></span>
 			</a>
 		</div>
 					</div>
		</div>
	</div>
</div>							</header>
	
</header><!--//header-->


