#navbarSupportedContent li {
    width: max-content !important;
}
#page-local-course_management-index .card-img-top { width:100px;}
#cheader{
background: none !important;
border-bottom: none !important;
}
.card-background {
background: #cccccc !important;
}
.c-background .card {
background: #cccccc;
}
#cbody .card{
background: #ffffff !important;
}
#page-local-course_management-index .card {
	background: transparent;
}

#cbody .card i {
font-size: 60px;
}
#cbody {
border-radius: 2px;
}
.tile.is-parent {
    	padding: .75rem;
    }


.tile.is-parent article{
min-height: 140px;
}
.tile {
    position: relative;
    overflow: hidden;
}
.tile {
    align-items: stretch;
    display: block;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
}
.tile .t-icon.right i {
    right: 10px;
}
.tile .t-icon i {
    position: absolute;
    z-index: 9;
}
.tile .t-icon i {
    bottom: -15px;
    right: 10px;
    font-size: 5rem;
    color: rgba(0,0,0,.1);
}
.fa, .fas {
    font-weight: 900;
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.tile.is-child {
    margin: 0!important;
}
.has-shadow2 {
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 2px rgba(0,0,0,.2)!important;
}
.grow {
    animation-name: fadeIn;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: -webkit-transform .15s ease-out;
    transition: transform .15s ease-out;
    transition: transform .15s ease-out,-webkit-transform .15s ease-out;
    -webkit-animation-name: fadeIn;
}
#page-local-course_management-index .box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}
.t-content p{
font-size: 23px;
}

#page-local-course_management-index #region-main h3 {
font-size: 25px;	
}
#page-local-course_management-index .fheader{
    background-image: none !important;
}
#page-local-course_management-certificatesetting #id_certificatesetting a{
    background: none !important;
}
