/*===========================================
 * Common
 *===========================================*/
body,
html {
	margin:0;
	padding:0;
}
/* body {
	padding:50px;
	background:#f1f1f1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
} */
.container {
/*	display:flex;
*/	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
	justify-content: center;
}
a.gallery {
	margin:5px;
	padding:100%;
	/*background:#fff;*/
	box-shadow:0 0 10px rgba(0,0,0,0.2);
}
a.gallery:hover {
	transition:all .3s;
	transform:scale(1.1);
}
a.gallery img {
	height:100px;
}
a.custom {
	display:inline-block;
	padding:100%;
	color:#fff;
	border:3px solid #fff;
	box-shadow:0 0 10px rgba(0,0,0,0.2);
	text-decoration:none;
}
a.custom:hover {
	transition:all .3s;
	transform:scale(1.1);
}
#inline,
.inline {
	padding:15px;
	text-align:left;
}
/*===========================================
 * Media
 *===========================================*/
@media only screen and (max-width: 1024px) {
}
