<div class="container">
    <div tabindex="0" class="file-picker fp-generallayout row" role="dialog" aria-live="assertive">
	
        <div class="fp-repo-area col-md-3 pr-2 nav nav-pills flex-column hidden" role="tablist">
                <div class="fp-repo nav-item" role="tab" aria-selected="false" tabindex="-1">
                    <a href="#" class="nav-link" tabindex="-1"><img class="fp-repo-icon" alt=" " width="16" height="16" />&nbsp;<span class="fp-repo-name"></span></a>
                </div>

        </div>
	
        <div class="col-md-9 p-0">
            <div class="fp-repo-items" tabindex="0">
                <div class="fp-navbar bg-faded card mb-0 clearfix icon-no-spacing hidden">
                    <div>
                        <div class="fp-toolbar">
                            <div class="fp-tb-back">
                                <a href="#" class="btn btn-secondary btn-sm">{{#str}}back, repository{{/str}}</a>
                            </div>
                            <div class="fp-tb-search">
                                <form></form>
                            </div>
                            <div class="fp-tb-refresh">
                                <a title="{{#str}}refresh, repository{{/str}}" class="btn btn-secondary btn-sm" href="#">
                                    {{#pix}}a/refresh{{/pix}}
                                </a>
                            </div>
                            <div class="fp-tb-logout">
                                <a title="{{#str}}logout, repository{{/str}}" class="btn btn-secondary btn-sm" href="#">
                                    {{#pix}}a/logout{{/pix}}
                                </a>
                            </div>
                            <div class="fp-tb-manage">
                                <a title="{{#str}}manageurl, repository{{/str}}" class="btn btn-secondary btn-sm" href="#">
                                    {{#pix}}a/setting{{/pix}}
                                </a>
                            </div>
                            <div class="fp-tb-help">
                                <a title="{{#str}}help, repository{{/str}}" class="btn btn-secondary btn-sm" href="#">
                                    {{#pix}}a/help{{/pix}}
                                </a>
                            </div>
                            <div class="fp-tb-message"></div>
                        </div>
                        <div class="fp-viewbar btn-group float-sm-right">
                            <a role="button" title="{{#str}}displayicons, repository{{/str}}" class="fp-vb-icons btn btn-secondary btn-sm" href="#">
                                {{#pix}}fp/view_icon_active, theme{{/pix}}
                            </a>
                            <a role="button" title="{{#str}}displaydetails, repository{{/str}}" class="fp-vb-details btn btn-secondary btn-sm" href="#">
                                {{#pix}}fp/view_list_active, theme{{/pix}}
                            </a>
                            <a role="button" title="{{#str}}displaytree, repository{{/str}}" class="fp-vb-tree btn btn-secondary btn-sm" href="#">
                                {{#pix}}fp/view_tree_active, theme{{/pix}}
                            </a>
                        </div>
                        <div class="fp-clear-left"></div>
                    </div>
                    <div class="fp-pathbar">
                        <span class="fp-path-folder"><a class="fp-path-folder-name" href="#"></a></span>
                    </div>
                </div>
                <div class="fp-content card"></div>
            </div>
        </div>
    </div>
</div>
