<div class="fp-upload-form">
    <div class="fp-content-center">
        <form enctype="multipart/form-data" method="POST" class="form">
            <div class="fp-formset">
                <div class="fp-file form-group">
                    <label>{{#str}}attachment, repository{{/str}}</label>
                    <div class="p-x-1">
                        <input  type="file"/>
                    </div>
                </div>
				
                <div class="fp-saveas form-group hidden">
                    <label>{{#str}}saveas, repository{{/str}}</label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="fp-setauthor form-group hidden">
                    <label>{{#str}}author, repository{{/str}}</label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="fp-setlicense control-group hidden">
                    <label>{{#str}}chooselicense, repository{{/str}}</label>
                    <select class="custom-select"></select>
                </div>
			
            </div>
        </form>
        <div class="mdl-align">
            <button class="fp-upload-btn btn-primary btn">{{#str}}upload, repository{{/str}}</button>
        </div>
    </div>
</div>